[submodule "tsmsp-backend-template-master/src/microservice/vaccine-and-nucleic-acid-microservice"]
	path = tsmsp-backend-template-master/src/microservice/vaccine-and-nucleic-acid-microservice
	url = https://git.tsinghua.edu.cn/wmc21/vaccine-and-nucleic-acid-microservice.git
