[submodule "tsmsp-backend-template-master/src/microservice/vaccine-and-nucleic-acid-microservice"]
	path = tsmsp-backend-template-master/src/microservice/vaccine-and-nucleic-acid-microservice
	url = git@git.tsinghua.edu.cn:wmc21/vaccine-and-nucleic-acid-microservice.git
[submodule "tsmsp-backend-template-master/src/microservice/place-information-microservice"]
	path = tsmsp-backend-template-master/src/microservice/place-information-microservice
	url = git@git.tsinghua.edu.cn:wmc21/place-information-microservice.git
[submodule "tsmsp-backend-template-master/src/microservice/user-information-microservice"]
	path = tsmsp-backend-template-master/src/microservice/user-information-microservice
	url = git@git.tsinghua.edu.cn:wmc21/user-information-microservice.git
